In [2]:
import pandas as pd
df_from = pd.read_csv('../user_tweets_from.csv', header=None)
df_from.columns = ['tweet_id','created_at','text',
            'favorite_count','retweet_count','followers_count',
            'screen_name','industry']

## feature engineering
df_from['rfr'] = (1.0*df_from['favorite_count']+1.0*df_from['retweet_count'])/df_from['followers_count']

## normalize
df_from['favorite_count_norm'] = df_from['favorite_count'] / df_from['favorite_count'].max()
df_from['retweet_count_norm']  = df_from['retweet_count'] / df_from['retweet_count'].max()
df_from['followers_count_norm'] = df_from['followers_count'] / df_from['followers_count'].max()
df_from['rfr_norm'] = df_from['rfr'] / df_from['rfr'].max()

## separate
celeb_df = df_from[df_from['industry'] == 'celebrity']
athlete_df = df_from[df_from['industry'] == 'athlete']
musician_df = df_from[df_from['industry'] == 'musician']

In [3]:
df_about = pd.read_csv('../user_tweets_about.csv', header=None)
df_about.columns = ['tweet_id','created_at','favorite_count','retweet_count','text',
            'polarity','retweet_count','followers_count',
            'screen_name','industry']

In [4]:
df_about.head()

,0,1,2,3,4,5,6,7
0,983469498413076480,2018-04-09 22:19:35,0,0,Is this as much of we are going to get at Mond...,-0.015385,TheRock,celebrity
1,983469479723196416,2018-04-09 22:19:30,0,1,RT What’s up I hope you have a chill day today,0.000000,TheRock,celebrity
2,983469410538188800,2018-04-09 22:19:14,0,0,You are a pervert Sexual predator going after ...,0.500000,TheRock,celebrity
3,983469363301961730,2018-04-09 22:19:02,0,0,You get it,0.000000,TheRock,celebrity
4,983469234440298496,2018-04-09 22:18:32,0,0,Plot twistRampage is a giant flex contest betw...,0.000000,TheRock,celebrity